@import '../../styles/variables';

.header {
  position: fixed;
  width: 100%;
  height: calc(64px * var(--scale));
  padding: 0 calc(64px * var(--scale));
  background-color: $primary-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;

  nav a {
    display: inline-block;
    color: $white;
    opacity: 0.7;
    line-height: calc(64px * var(--scale));
    padding: 0px calc(24px * var(--scale));

    &.active {
      background-color: $primary-color-active;
      color: $white !important;
      opacity: 1;
    }
  }
}
