@import '../../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: calc(64px * var(--scale));
  padding: 0 calc(64px * var(--scale));
  background-color: $primary-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;

  nav a {
    display: inline-block;
    color: $white;
    opacity: 0.7;
    line-height: calc(64px * var(--scale));
    padding: 0px calc(24px * var(--scale));

    &.active {
      background-color: $primary-color-active;
      color: $white !important;
      opacity: 1;
    }
  }
}

.search-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

.search-button {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}
